<ion-header>
  <ion-toolbar>
    <ion-title>GPS Route Tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="map"></div>

  <div class="stats">
    <p><b>Distance:</b> {{distance}} km</p>
    <p><b>Duration:</b> {{duration}}</p>
  </div>

  <ion-button expand="block" (click)="startTracking()">
    Start Tracking
  </ion-button>

  <ion-button expand="block" color="danger" (click)="stopTracking()">
    Stop Tracking
  </ion-button>

  <ion-button expand="block" color="medium" (click)="exportGPX()">
    Save Route (GPX)
  </ion-button>

  <ion-item>
    <input type="file" (change)="loadGPX($event)" />
  </ion-item>

</ion-content>